# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Laser Defender.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Taras\Unity\Udemy\Laser Defender\.idea\.idea.Laser Defender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
